$measureOpacityOpacityCoreOverlayDefault: 50%;    
$measureFontSizingFontSizeCoreSizeBase: 16px;    
$measureFontSizingFontSizeCoreSizeTiny: 12px;    
$measureFontSizingFontSizeCoreSizeMedium: 20px;    
$measureFontSizingFontSizeCoreSizeLarge: 24px;    
$measureFontSizingFontSizeCoreSizeExtraLarge: 28px;    
$measureFontSizingFontSizeCoreSizeHuge: 32px;    
$measureLineHeightLineHeightCoreLineHeightSmall: 100%;    
$measureLineHeightLineHeightCoreLineHeightMedium: 125%;    
$measureLineHeightLineHeightCoreLineHeightLarge: 150%;    
$measureBorderWidthBorderWidthCoreBase: 1px;    
$measureBorderRadiusBorderRadiusCoreFull: 9999px;    
$measureBorderRadiusBorderRadiusCoreNone: 0px;    
/* radius for pop-ups */
$measureBorderRadiusBorderRadiusCoreLarge: 12px;    
$measureBorderRadiusBorderRadiusCoreSmall: 2px;    
/* radius for buttons, containers, etc. */
$measureBorderRadiusBorderRadiusCoreMedium: 4px;    
$measureDimensionDimensionCore0: 0px;    
$measureDimensionDimensionCore2: 2px;    
$measureDimensionDimensionCore4: 4px;    
$measureDimensionDimensionCore8: 8px;    
$measureDimensionDimensionCore12: 12px;    
$measureDimensionDimensionCore16: 16px;    
$measureDimensionDimensionCore10: 10px;    
$measureDimensionDimensionCore20: 20px;    
$measureDimensionDimensionCore24: 24px;    
$measureDimensionDimensionCore32: 32px;    
$measureDimensionDimensionCore40: 40px;    
$measureDimensionDimensionCore64: 64px;    
$measureDimensionDimensionCore9999: 9999px;    
$measureDimensionDimensionCore1: 1px;    
$measureFontSizingFontSizeCoreSizeSmall: 14px;    
$measureBorderWidthBorderWidthCore3x: 3px;    
$measureBorderRadiusBorderRadiusCoreExtralarge: 24px;    
$measureSpacingSpacingSemantic50: 4px;    
$measureSpacingSpacingSemantic100: 8px;    
$measureSpacingSpacingSemantic125: 10px;    
$measureSpacingSpacingSemantic200: 16px;    
$measureSpacingSpacingSemantic250: 20px;    
$measureSpacingSpacingSemantic300: 24px;    
$measureSpacingSpacingSemantic400: 32px;    
$measureSpacingSpacingSemantic800: 64px;    
$measureSizingSizingComponentIconSmall: 12px;    
$measureSizingSizingComponentIconBase: 16px;    
$measureSizingSizingComponentIconLarge: 24px;    
$measureSizingSizingComponentNotificationiconBase: 16px;    
$measureBorderRadiusBorderRadiusComponentTagDefault: 4px;    
$measureSpacingSpacingSemantic25: 2px;    
$measureDimensionAnimationLoadingSpeedDefault: 600px;    
$measureDimensionDimensionCore6: 6px;    
$measureSpacingSpacingSemantic75: 6px;    
$measureSizingSizingComponentIconUltra: 40px;    
$measureDimensionDimensionCore48: 48px;    
$measureDimensionDimensionCore100: 100px;    
$measureBorderRadiusBorderRadiusComponentPaginationDefault: 9999px;    
$measureBorderRadiusBorderRadiusComponentButtonDefault: $measureBorderRadiusBorderRadiusCoreFull;    
$measureBorderRadiusBorderRadiusComponentInputDefault: $measureBorderRadiusBorderRadiusCoreFull;    
$measureSizingSizingComponentButtonIcon: $measureSizingSizingComponentIconBase;    
$measureBorderRadiusBorderRadiusComponentPanelDefault: $measureBorderRadiusBorderRadiusCoreLarge;    
$measureBorderRadiusBorderRadiusComponentContainerDefault: $measureBorderRadiusBorderRadiusCoreLarge;    
/* Border radius for Neuron main navigation item fill.  */
$measureBorderRadiusBorderRadiusComponentNavigationItemDefault: $measureBorderRadiusBorderRadiusCoreFull;    
