$shadowCoreElevationsHeavy: 0 0 16px 0 rgba(33,37,41,0.2);  
$shadowCoreElevationsLight: 0 2px 8px 0 rgba(33,37,41,0.1);  
$shadowCoreElevationsMedium: 0 0 8px 0 rgba(33,37,41,0.15);  
$shadowCoreContentFocusDefault: 0 0 0 1px rgba(0,0,0,1);  
$shadowCoreIntershadowDefault: inset 0 -3px 3px 0 rgba(0,0,0,0.09);  
$shadowCoreComponentTabActiveDefault: -1px -3px 5px 0 rgba(33,37,41,0.1);  
